PORT=3000

MYSQL_HOST=mysql
MYSQL_PORT=3309
MYSQL_DATABASE=portfolio
MYSQL_USER=portfolio_user
MYSQL_PASSWORD=portfolio_password
MYSQL_ROOT_PASSWORD=root_password

DATABASE_URL="mysql://root:root_password@localhost:3309/portfolio"

ADMIN_NAME="Admin"
ADMIN_EMAIL="admin@portfolio.local"
ADMIN_PASSWORD="admin123"

JWT_SECRET="change-this-secret"
JWT_EXPIRES_IN="1d"
